@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Montserrat&family=Nunito:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border-collapse: collapse;
    text-decoration: none;
}

body{
    font-size: 1.6rem;
    width: 100%;
}

:root{
    --fonte-titulo: 'Manrope', sans-serif;
    --fonte-subtitulo: 'Montserrat', sans-serif;
    --fonte-paragrafo: 'Nunito', sans-serif;
    --cor-roxo: #8d15cd;
    --cor-preto: rgb(51, 51, 51);
    --cor-preto-claro: #575757;
}

/* Cabecalho - Início */

#cabecalho{
    width: 100%;
    height: auto;
    background: black;
}

#cabecalho img, #footer img{
    width: 20rem;
}

a{
    display: inline-block;
    transition: all 0.2s;
}

#cabecalho>div>a:hover, #footer>div>a:hover{
    transform: scale(1.1);
}

#navegacao a{
    color: #fff;
    font-family: var(--fonte-subtitulo);
    transition: all 0.2s;
    font-size: 2rem;
}

#navegacao a:hover{
    transform: scale(1.1);
}

/* Cabecalho - Fim */

/* Container - Início */

#container{
    width: 100%;
    min-height: 90vh;
    background: url('Imagens/fundo.jpg') fixed;
    background-size: cover;
}

#container>div{
    width: 85%;
    min-height: 90vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#area-login h1{
    font-size: 3rem;
    font-family: var(--fonte-titulo);
    color: #fff;
}

#area-login span{
    width: 90%;
    height: 0.3rem;
    border-radius: 1rem;
    background: var(--cor-roxo);
    margin: 2rem 0;
}

#area-login form{
    margin-top: 2rem;
    display: flex;
    align-items: flex-start;
    flex-flow: column nowrap;
    gap: 1.5rem;
    width: 80%;
}

#area-login label{
    display: block;
    color: #fff;
    font-family: var(--fonte-subtitulo);
}

#area-login input{
    width: 100%;
    margin: 0 auto;
    padding: 0.6rem;
    border-radius: 1rem;
    font-family: var(--fonte-paragrafo);
    transition: all 0.2s;
    color: black;
    font-size: 1.5rem;
}

#area-login input:focus{
    transform: scale(1.01);
    outline: 0.2rem solid cyan;
    border: none;
}

#area-login a{
    color: #fff;
    font-size: 1.6rem;
    font-family: var(--fonte-subtitulo);
    transition: all 0.2s;
}

#area-login a:hover{
    transform: scale(1.1);
}

#area-login input[type="submit"]{
    margin-top: 1.3rem;
    width: 100%;
    background: #fff;
    color: black;
    font-family: var(--fonte-subtitulo);
    transition: all 0.2s;
    cursor: pointer;
}

#area-login input[type="submit"]:hover{
    transform: scale(1.04);
}

/* Container - Fim */

/* Rodapé - Início */

#footer{
    width: 100%;
    height: auto;
    background: black;
}

#footer p{
    font-family: var(--fonte-subtitulo);
    color: #fff;
    font-size: 1.3rem;
    text-align: center;
}

/* Rodapé - Fim */

@media (min-width: 950px){

    html{
        font-size: 62.5%
    }

    #cabecalho>div{
        width: 85%;
        padding: 1.5rem;
        margin: 0 auto;
        display: flex;
        flex-flow: row wrap;
        gap: 1.5rem;
        justify-content: space-between;
        align-items: center;
    }

    #navegacao{
        display: flex;
        gap: 1.8rem;
    }

    #footer>div{
        width: 85%;
        padding: 1.5rem;
        margin: 0 auto;
        display: flex;
        flex-flow: row wrap;
        gap: 1.5rem;
        justify-content: space-between;
        align-items: center;
    }

    #area-login{
        width: 50%;
        margin: 0 auto;
        background: rgba(0, 0, 0, 0.6);
        padding: 1.6rem;
        border-radius: 2rem;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }

}

@media (max-width: 949.98px) and (min-width: 650px){

    html{
        font-size: 58%
    }

    #navegacao{
        display: flex;
        gap: 1.8rem;
    }

    #cabecalho>div{
        width: 85%;
        padding: 2.5rem;
        margin: 0 auto;
        display: flex;
        flex-flow: row wrap;
        gap: 2rem;
        justify-content: center;
        align-items: center;
    }

    #footer>div{
        width: 85%;
        padding: 1.5rem;
        margin: 0 auto;
        display: flex;
        flex-flow: row wrap;
        gap: 2rem;
        justify-content: center;
        align-items: center;
    }

    #area-login{
        width: 50%;
        margin: 0 auto;
        background: rgba(0, 0, 0, 0.6);
        padding: 1.6rem;
        border-radius: 2rem;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }

}

@media (max-width: 649.98px){

    html{
        font-size: 58%
    }

    #navegacao{
        display: flex;
        flex-flow: column nowrap;
        gap: 1.8rem;
    }

    #cabecalho>div{
        width: 85%;
        padding: 2.5rem;
        margin: 0 auto;
        display: flex;
        flex-flow: column wrap;
        gap: 2rem;
        justify-content: center;
        align-items: center;
    }

    #footer>div{
        width: 85%;
        padding: 2rem;
        margin: 0 auto;
        display: flex;
        flex-flow: row wrap;
        gap: 1.5rem;
        justify-content: center;
        align-items: center;
    }

    #area-login{
        width: 90%;
        margin: 0 auto;
        background: rgba(0, 0, 0, 0.6);
        padding: 1.6rem;
        border-radius: 2rem;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }

}